@model IEnumerable<Race.Models.Team>

@{
    ViewBag.Title = "Listazas";
}

<h2>Listazas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearOfEstablishment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfWonChampionShip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntryFee)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearOfEstablishment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfWonChampionShip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryFee)
            </td>
            <!--
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Name }) |
                @Html.ActionLink("Details", "Details", new { id=item.Name }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Name })
            </td>
                -->
        </tr>
    }

</table>
